@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
a {
  color: black;
  outline: none;
  user-select: none;
}
.wrapper-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #f8ebc9;
  z-index: 999;
}
.container-header {
  width: calc(100% - 270px);
  margin-left: 135px;
  margin-right: 135px;
  z-index: 1000;
}
.header {
  background: #f8ebc9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
  padding-block: 20px;
  padding-right: 15px;
}

.header .left-header {
  display: flex;
  gap: 210px;
}

.left-header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo .text-just {
  font-size: 2.4rem;
  font-weight: 700;
}
.logo .text-law {
  font-size: 1.4rem;
}
.left-header nav {
  display: flex;
  align-items: center;
}
.left-header .navigation {
  display: flex;
  gap: 60px;
  color: #0e1412;
}
.left-header .navigation a {
  font-family: "Manrope";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
}
.navigation .multi-menu::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url("../img/arrow-down.svg") no-repeat center;
  background-size: contain;
  margin-left: 5px;
}

.navigation .multi-menu:hover {
  color: #fd6038;
}
.navigation .home-hov:hover {
  color: #fd6038;
}
.navigation .multi-menu:hover::after {
  transform: rotate(180deg);
  filter: invert(48%) sepia(78%) saturate(4191%) hue-rotate(347deg)
    brightness(101%) contrast(97%);
}
.navigation li {
  position: relative;
}
.navigation li ul {
  position: absolute;
  top: 100%;
  left: -50%;
  background-color: #fff;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 200%;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  z-index: 999;
}
.navigation li:hover > ul {
  display: block;
}
.navigation li ul li {
  display: block;
  padding: 0;
}
.navigation li ul li a {
  display: block;
  padding: 10px 16px;
  color: #0e1412;
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
.navigation li ul {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}
.navigation li:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.contact a {
  font-family: "Manrope";
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 28px;
  font-weight: 400;
  width: 230px;
  color: #0e1412;
}
.contact a span {
  text-align: center;
  font-family: "Manrope";
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
  color: #0e1412;
}
.container-header .header .menu-toggle {
  display: none;
}
.container-header .header .close-menu {
  display: none;
}
/* End .header */
/* Start .page-1 */
.hero-section {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container {
  margin-left: 135px;
  margin-right: 135px;
}
.page-1 {
  padding-top: 150px;
  padding-bottom: 100px;
  width: 100%;
}
.contain-box {
  display: flex;
  flex-direction: column;
  /* padding: 60px 0; */
}
.contain-box .heading-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
h1 {
  color: #0e1412;
  font-family: "Roboto Slab";
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  width: 40%;
}
.heading-info .list-select {
  display: flex;
  gap: 20px;
}
.heading-info .list-select a {
  background: #333;
  padding: 15px 35px;
  border: none;
  text-align: center;
  /* display: inline-block; */
  color: white;
  font-family: "Manrope";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}
.heading-info .list-select a:hover {
  background: #fd6038;
}
.heading-info .list-select a:first-child {
  background: #fd6038;
}
ul.list-blog {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  width: 100%;
}
ul.list-blog li {
  flex: 1 1 calc(33.333% - 30px);
  overflow: hidden;
  box-sizing: border-box;
}
ul.list-blog li.item-blog a img {
  aspect-ratio: 1 / 1;
  display: block;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
ul.list-blog li.item-blog:hover img {
  transform: scale(1.05);
}
ul.list-blog li.item-blog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  /* padding: 40px 30px; */
}
.item-blog .detail-item {
  display: flex;
  gap: 5px;
}
.item-blog .detail-item .name-author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-blog .detail-item .name-author p {
  font-family: "Manrope";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}
.item-blog .detail-item .name-author span {
  font-family: "Manrope";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
}
.list-blog .item-blog .blog-name {
  font-family: "Manrope";
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
}

.list-blog .item-blog .blog-name span > a {
  font-family: "Manrope";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  display: block;
}

.list-blog .item-blog .blog-name span:hover {
  color: #fd6038;
}
/* Start .page-2 */
.page-2 {
  background: #017848;
  padding: 100px 300px;
  width: 100%;
}
.contain-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.contain-box-2 .sub-heading {
  color: #fff;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}

.contain-box-2 h2 {
  font-family: "Roboto Slab";
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 52px;
  color: #fff;
  text-align: center;
}
.box-input {
  display: flex;
  gap: 10px;
  /* height: 40%; */
  width: 60%;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  border: none;
  outline: none;
}
input[type="email"] {
  width: 60%;
  padding: 15px 0;
  padding-left: 15px;
  font-family: "Manrope";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
}
.contain-box-2 button {
  padding: 15px 30px;
  width: 40%;
  font-family: "Manrope";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}
.contain-box-2 button:hover {
  background: #fd6038;
  color: white;
}
.contain-box-2 p {
  font-family: "Manrope";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}
.contain-box-2 p > span {
  font-family: "Manrope";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  color: #fed464;
}
/* End.page-2 */
/* Start .page-3 */
.page-3 {
  padding: 100px 0;
}
.contain-box-3 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.page-3 .list-page {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.page-3 .list-page .item-number {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  text-align: center;
  font-family: "Manrope";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}
.page-3 .list-page .item-number:first-child {
  background: #fd6038;
}
.page-3 .list-page .item-number:hover {
  background: #fd6038;
}
/* Start .footer */
.footer {
  background: #0e1412;
}
.footer {
  width: 100%;
}
.footer-info {
  display: flex;
  gap: 70px;
  /* align-items: stretch; */
  padding: 100px 0;
  border-bottom: 2px solid #313d39;
}
.left-info {
  width: 100%;
  display: flex;
  gap: 70px;
  justify-content: flex-start;
}
.just-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1;
}
.just-info h4 {
  color: #fff;
  font-family: "Manrope";
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
}
.just-info p a {
  color: #beccc7;
  font-family: "Manrope";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
}
.just-info .address {
  color: #beccc7;
  font-family: "Manrope";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.just-info .address a {
  color: #beccc7;
}
.just-info a:hover {
  color: #fd6038;
}
.container-final {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.text-white {
  color: #fff;
}
.text-gray {
  color: #beccc7;
  font-family: "Manrope";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
}
.footer-left {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
.container-final .logo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.map-container {
  display: flex;
}
.contain-links {
  display: flex;
  gap: 10px;
}
.contain-links .icon-app {
  width: 30px;
  height: 30px;
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contain-links .icon-app:hover {
  background: #fd6038;
}
/* End .footer */
