@media screen and (max-width: 1599.98px) {
  .container-header {
    margin: 0;
    width: 100%;
  }
  .wrapper-header {
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
  }
  .wrapper-header header.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
  }
  .container {
    margin-left: 120px;
    margin-right: 120px;
  }
  .header .left-header {
    gap: 100px;
  }
  h1 {
    width: 80%;
  }
  .box-left .paragraph {
    width: 79%;
  }
  h2 {
    width: 80%;
  }
  .page-4 h2 {
    width: 40%;
  }
  .job-item {
    padding: 30px 20px;
    gap: 15px;
  }
  .accordion {
    width: 85%;
  }
  .email-box {
    width: 85%;
  }
  .main-page-10 {
    padding: 50px 250px;
  }
}
@media screen and (max-width: 1399.98px) {
  .container-header {
    margin: 0;
    width: 100%;
  }
  .wrapper-header {
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #f8ebc9;
  }
  .wrapper-header header.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 115px;
  }
  .header .left-header {
    gap: 50px;
  }
  .left-header .navigation a {
    font-size: 1.6rem;
  }
  .logo .text-just {
    font-size: 2.2rem;
  }
  .logo .text-law {
    font-size: 1.2rem;
  }
  .navigation li ul li a {
    font-size: 1.2rem;
  }
  .contact a {
    font-size: 1.6rem;
  }
  .contact a span {
    font-size: 1.8rem;
  }
  /* End .header */
  /* Start .page-1 */
  .container {
    margin-left: 115px;
    margin-right: 115px;
  }
  .container .main-box {
    gap: 90px;
  }

  h1 {
    font-size: 5.5rem;
    width: 85%;
  }
  .box-left .paragraph {
    font-size: 1.6rem;
    width: 60%;
  }
  button {
    font-size: 1.6rem;
  }
  .box-bottom h4 {
    font-size: 2rem;
  }

  /* End .page-1 */
  /* Start .page-2 */
  .main-page-2 {
    gap: 40px;
  }
  .sub-heading {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 3.9rem;
    width: 85%;
  }
  .mt-50 {
    margin-top: 40px;
  }
  .main-page-2 .paragraph {
    font-size: 1.6rem;
  }
  .tick-p2 {
    gap: 15px;
  }
  h3.title-2 .info {
    font-size: 1.6rem;
  }
  /* End .page-2 */
  /* Start .page-3 */
  .page-3 .sub-heading {
    font-size: 1.6rem;
  }
  .page-3 h2 {
    font-size: 3.9rem;
    width: 60%;
  }
  .job-item {
    padding: 30px 20px;
    gap: 15px;
  }
  .icon-apart {
    font-size: 2.4rem;
  }
  .job-item .job-name {
    font-size: 1.8rem;
  }
  .job-item span {
    font-size: 1.4rem;
  }
  /* End .page-3 */
  /* Start .page-4 */
  .page-4 h2 {
    width: 40%;
  }
  .evaluate p {
    font-size: 1.6rem;
  }
  /* End .page-4 */
  /* Start .page-6 */
  h3 {
    font-size: 2.2rem;
  }
  .person-item span {
    font-size: 1.6rem;
  }
  .accordion {
    width: 85%;
  }
  .accordion-label {
    font-size: 2rem;
  }
  .accordion-content p {
    font-size: 1.6rem;
  }
  .main-page-10 p {
    font-size: 1.4rem;
    width: 55%;
  }
  .email-box input {
    font-size: 1.4rem;
  }
  .box-send a img {
    /* display: block; */
    width: 30px;
    height: 30px;
    display: flex;
    padding-top: 5px;
    padding-inline: 3px;
  }
  .email-box {
    width: 80%;
  }
  .main-page-10 {
    padding: 50px 250px;
  }
}
@media screen and (max-width: 1199.98px) {
  .container-header {
    margin: 0;
    width: 100%;
  }
  .wrapper-header {
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
  }
  .wrapper-header header.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
  }
  .header .left-header {
    gap: 40px;
  }
  .left-header .navigation {
    gap: 40px;
  }
  .container {
    margin-left: 70px;
    margin-right: 70px;
  }
  h1 {
    font-size: 5rem;
    width: 100%;
    line-height: 50px;
  }

  .email-box {
    width: 85%;
  }
  .box-left .paragraph {
    width: 80%;
  }
  .image-wrapper {
    width: 50%;
  }
  .main-page-10 {
    padding: 50px 200px;
  }
}
@media screen and (max-width: 991.98px) {
  .container-header {
    margin: 0;
    width: 100%;
  }
  .wrapper-header {
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
  }
  .wrapper-header header.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
  }
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
  h1 {
    font-size: 4rem;
  }
  .box-left .paragraph {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  .main-page-2 .paragraph {
    font-size: 1.4rem;
  }
  .villa-detail .villa-name {
    text-align: left;
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .rating-item > span {
    font-size: 1.4rem;
  }
  .person-name > span {
    font-size: 1.4rem;
  }
  .main-page-10 {
    padding: 50px 200px;
  }
  .container-header .header .menu-toggle {
    display: block;
    font-size: 2.5rem;
  }
  .container-header .header .left-header nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background: #333;
    padding: 20px 0;
    z-index: 9999;
    translate: -100%;
    transition: translate 0.3s;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
  }
  .navigation .multi-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-header .header .left-header nav ul {
    display: block;
  }
  .container-header .header .left-header nav ul li a {
    color: #fff;
    display: block;
    padding: 5px 15px;
  }
  .container-header .header .left-header nav ul li ul li a {
    color: #333;
    display: block;
    /* padding: 0 5px; */
    text-align: center;
    margin-left: 20px;
  }
  .navigation .multi-menu::after {
    background-color: #fff;
  }
  .container-header .header .menu-overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: #0000007e;
    z-index: 9989;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }
  input[type="checkbox"]:checked ~ nav#nav-menu {
    translate: 0;
  }
  .wrapper-header
    .container-header
    .header
    input[type="checkbox"]:checked
    ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 9999;
  }
  input[type="checkbox"]:checked ~ nav#nav-menu .close-menu {
    display: block;
  }
  .header .left-header .logo {
    display: none;
  }
  .main-page-10 {
    padding: 50px 15px;
  }
  .footer-info {
    gap: 25px;
  }
}

@media screen and (max-width: 767.98px) {
  .container-header {
    margin: 0;
    width: 100%;
  }
  .container-header .header .menu-toggle {
    display: block;
    font-size: 2.5rem;
  }
  .container-header .header .left-header nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background: #333;
    padding: 20px 0;
    z-index: 9999;
    translate: -100%;
    transition: translate 0.3s;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
  }
  .navigation .multi-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-header .header .left-header nav ul {
    display: block;
  }
  .container-header .header .left-header nav ul li a {
    color: #fff;
    display: block;
    padding: 5px 15px;
  }
  .container-header .header .left-header nav ul li ul li a {
    color: #333;
    display: block;
    /* padding: 0 5px; */
    text-align: center;
    margin-left: 20px;
  }
  .navigation .multi-menu::after {
    background-color: #fff;
  }
  .container-header .header .menu-overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: #0000007e;
    z-index: 9989;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }
  input[type="checkbox"]:checked ~ nav#nav-menu {
    translate: 0;
  }
  .wrapper-header
    .container-header
    .header
    input[type="checkbox"]:checked
    ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 9999;
  }
  input[type="checkbox"]:checked ~ nav#nav-menu .close-menu {
    display: block;
  }
  .wrapper-header {
    max-width: 100vw;
    /* margin: 0 20px; */
    position: fixed;
    top: 0;
    left: 0;
    background: #f8ebc9;
  }
  .wrapper-header header.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
  }
  .header .left-header .logo {
    display: none;
  }

  /* End .header */
  /* Start .page-1 */
  .container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .page-1 {
    padding: 100px 0 60px;
  }
  .container .main-box {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .hero-section {
    width: 100%;
    height: 100%;
  }
  /* Start .box-left */
  .box-left {
    text-align: center;
    align-items: flex-start;
    gap: 20px;
  }

  .box-left h1 {
    font-size: 3.5rem;
    line-height: 41px;
    width: 60%;
    text-align: left;
  }

  .box-left .paragraph {
    font-size: 1rem;
    line-height: 17px;
    width: 50%;
    text-align: left;
  }

  button {
    font-size: 1.4rem;
    padding: 12px 20px;
  }

  .image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
  }

  /* --- Start .box-bottom --- */
  .container .box-bottom {
    flex-direction: column;
    gap: 20px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .select-locate {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .location,
  .property,
  .price-range {
    align-items: flex-start;
    gap: 10px;
  }

  .container .box-bottom h4 {
    font-size: 1.6rem;
  }

  .container .box-bottom .choose {
    font-size: 1.2rem;
  }

  .search-icon {
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-search {
    font-size: 2rem;
  }
  .container .box-bottom {
    box-shadow: none;
  }
  /* End page-1 */
  /* Start .page-2 */
  .hero-section-page-2 {
    width: 100%;
    height: 100%;
  }
  .page-2 {
    padding: 35px 0;
  }
  .container .main-box-2 {
    flex-direction: column;
  }
  .container .box-left-2 h2 {
    width: 100%;
  }
  .image-wrapper-2 {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
  }
  .page-2 .main-box-2 {
    gap: 40px;
  }
  .page-2 .main-page-2 h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 30px;
    width: 60%;
  }
  .page-2 .main-page-2 {
    gap: 44px;
  }
  .page-2 .box-left-2 .sub-heading {
    font-size: 1rem;
    font-weight: 400;
    line-height: 17px;
  }
  .page-2 .main-page-2 p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 17px;
    width: 60%;
  }
  .page-2 .box-left-2 .tick-p2 .info {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 17px;
  }
  .page-2 .box-left-2 .read-more {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
  }
  /* End .page-2 */
  /* Start .page-3 */
  .hero-section-page-3 .page-3 {
    padding: 40px 0;
  }
  .main-page-3 {
    gap: 40px;
  }
  .main-box-3 .sub-heading {
    line-height: 13px;
    font-size: 1rem;
  }
  .main-box-3 .main-page-3 h2 {
    width: 80%;
    font-size: 2.4rem;
    line-height: 30px;
  }
  ul.job-list {
    flex-direction: column;
  }
  .job-list .job-item {
    aspect-ratio: 0;
  }
  .job-item .job-name {
    font-size: 1.8rem;
  }
  .job-item span {
    font-size: 1.6rem;
    line-height: 27px;
  }
  /* End .page-3 */
  /* Start .page-4 */
  .page-4 {
    padding-bottom: 50px;
  }
  .main-page-4 {
    gap: 50px;
  }
  .villa-list {
    flex-direction: column;
  }
  .container-evaluate .evaluate {
    padding: 40px 0;
    flex-direction: column;
    gap: 40px;
  }
  .page-4 .sub-heading {
    font-size: 1rem;
  }
  .page-4 h2 {
    font-size: 2.4rem;
    width: 60%;
  }
  .villa-detail .price {
    font-size: 1.4rem;
    line-height: 25px;
  }
  .villa-detail .villa-name {
    font-size: 1.8rem;
    line-height: 27px;
  }
  .villa-info span {
    font-size: 1.2rem;
  }
  /* End .page-4 */
  /* start .page-5 */
  .page-5 {
    padding: 40px 0;
  }
  .main-page-5 {
    gap: 40px;
  }
  .box-5 .sub-heading {
    font-size: 1rem;
    line-height: 13px;
  }
  .main-page-5 h2 {
    font-size: 2.4rem;
    line-height: 30px;
  }
  .page-5 .gallery {
    flex-direction: column;
  }
  /* End .page-5 */
  /* Start .page-6 */
  .hero-section-page-6 .page-6 {
    padding: 50px 0;
  }
  .page-6 .main-page-6 {
    gap: 40px;
  }
  .main-page-6 h2 {
    line-height: 37px;
    font-size: 2.4rem;
  }
  ul.list-person {
    flex-direction: column;
  }

  .person-item h3 {
    font-size: 1.8rem;
    line-height: 30px;
  }
  .person-item span {
    font-size: 1.6rem;
    line-height: 28px;
  }
  .view-all button {
    font-size: 1.8rem;
    line-height: 30px;
  }
  /* End .page-6 */
  /* Start .page-7 */
  .main-page-7 {
    gap: 67px;
  }
  .box-7 .sub-heading {
    font-size: 1rem;
    line-height: 13px;
  }
  .main-page-7 h2 {
    line-height: 30px;
    font-size: 2.4rem;
  }
  ul.person-rating {
    flex-direction: column;
  }
  .rating-item span {
    font-size: 1.6rem;
    line-height: 27px;
  }
  .person-infor h3 {
    font-size: 1.9rem;
    line-height: 29px;
  }
  .person-infor span {
    font-size: 1.4rem;
    line-height: 25px;
  }
  .box-logo-p7 {
    flex-direction: column;
    gap: 50px;
  }
  .logo-amazone {
    display: flex;
    justify-content: center;
  }
  /* .main-page-7 .person-rating .rating-item {
    padding: 40px 30px;
  } */
  /* End .page-7 */
  /* Start .page-8 */
  .page-8 {
    padding: 50px 0;
  }
  .box-8 .sub-heading {
    font-size: 1rem;
    line-height: 13px;
  }
  .main-page-8 h2 {
    line-height: 37px;
    font-size: 2.4rem;
  }
  ul.list-latest {
    flex-direction: column;
  }
  .latest-info h3 {
    font-size: 1.4rem;
    line-height: 22px;
  }
  .latest-info p {
    font-size: 1rem;
  }
  .bt-8 {
    font-size: 1rem;
  }
  /* End .page-8 */
  /* Start .page-9 */
  .box-9 .sub-heading {
    font-size: 1rem;
    line-height: 13px;
  }
  .main-page-9 h2 {
    line-height: 37px;
    font-size: 2.4rem;
  }
  .list-question .accordion-label {
    font-size: 1.2rem;
    line-height: 18px;
  }
  .list-question .accordion-content p {
    font-size: 1rem;
    line-height: 16px;
  }
  .accordion-label::after {
    width: 16px;
    height: 16px;
  }
  /* End .page-9 */
  /* Start .page-10 */
  .main-page-10 {
    padding: 50px 0;
  }
  .main-page-10 {
    padding: 37px 26px;
  }
  .main-page-10 h2 {
    line-height: 30px;
    font-size: 2.4rem;
  }
  .main-page-10 p {
    font-size: 1rem;
    line-height: 13px;
  }
  .box-send img {
    width: 20px;
    height: 20px;
  }

  /* End .page-10 */
  /* Start .footer */
  .left-info {
    flex-direction: column;
    gap: 20px;
  }
  .footer-info {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;
    gap: 20px;
  }
  .footer-left {
    flex-direction: column;
    gap: 10px;
  }
  /* End .footer */
}
@media screen and (max-width: 575.98px) {
  .container-header {
    margin: 0;
    width: 100%;
  }
  .container-header .header .menu-toggle {
    display: block;
    font-size: 2.5rem;
  }
  .container-header .header .left-header nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background: #333;
    padding: 20px 0;
    z-index: 9999;
    translate: -100%;
    transition: translate 0.3s;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
  }
  .navigation .multi-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-header .header .left-header nav ul {
    display: block;
  }
  .container-header .header .left-header nav ul li a {
    color: #fff;
    display: block;
    padding: 5px 15px;
  }
  .container-header .header .left-header nav ul li ul li a {
    color: #333;
    display: block;
    /* padding: 0 5px; */
    text-align: center;
    margin-left: 20px;
  }
  .container-header .header .menu-overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: #0000007e;
    z-index: 9989;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }
  input[type="checkbox"]:checked ~ nav#nav-menu {
    translate: 0;
  }
  .wrapper-header
    .container-header
    .header
    input[type="checkbox"]:checked
    ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .wrapper-header {
    max-width: 100vw;
    /* margin: 0 20px; */
    position: fixed;
    top: 0;
    left: 0;
    background: #f8ebc9;
  }
  .wrapper-header header.header {
    /* width: 100%; */
    /* position: absolute;
    top: 0;
    left: 0; */
    display: flex;
    justify-content: space-between;
    /* padding-right: 0; */
    padding: 20px;
  }
  .header .left-header .logo {
    display: none;
  }
  /* End .header */
  /* Start .page-1 */
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .page-1 {
    padding: 100px 0 60px;
  }

  .container .main-box {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .hero-section {
    width: 100%;
    height: 100%;
  }
  /* Start .box-left */
  .box-left {
    text-align: center;
    align-items: flex-start;
  }

  .box-left h1 {
    font-size: 3.5rem;
    line-height: 30px;
    width: 70%;
    text-align: left;
  }

  .box-left .paragraph {
    font-size: 1rem;
    line-height: 17px;
    width: 70%;
    text-align: left;
    display: block;
  }

  button {
    font-size: 1.4rem;
    padding: 12px 20px;
  }
  button:hover {
    background-color: none;
  }
  .box-bottom .search-icon {
    width: 100%;
    /* padding-inline: 200px;
    display: block; */
  }

  .image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
  }

  /* --- Start .box-bottom --- */
  .container .box-bottom {
    flex-direction: column;
    gap: 20px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .select-locate {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .location,
  .property,
  .price-range {
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
  }

  .container .box-bottom h4 {
    font-size: 1.6rem;
  }

  .container .box-bottom .choose {
    font-size: 1.2rem;
  }
  .select-locate .icon-1 {
    padding-top: 0.5px;
  }

  .search-icon {
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-search {
    font-size: 2rem;
  }
  .container .box-bottom {
    box-shadow: none;
  }
  /* End page-1 */
  /* Start .page-2 */
  .hero-section-page-2 {
    width: 100%;
    height: 100%;
  }
  .page-2 {
    padding: 35px 0;
  }
  .container .main-box-2 {
    flex-direction: column;
  }
  .container .box-left-2 h2 {
    width: 100%;
  }
  .image-wrapper-2 {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
  }
  .page-2 .main-box-2 {
    gap: 40px;
  }
  .page-2 .main-page-2 h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 30px;
    width: 70%;
  }
  .page-2 .main-page-2 {
    gap: 44px;
  }
  .page-2 .box-left-2 .sub-heading {
    font-size: 1rem;
    font-weight: 400;
    line-height: 17px;
  }
  .page-2 .main-page-2 p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 17px;
    width: 60%;
  }
  .page-2 .box-left-2 .tick-p2 .info {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 17px;
  }
  .page-2 .box-left-2 .read-more {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 30px;
  }
  /* End .page-2 */
  /* Start .page-3 */
  .hero-section-page-3 .page-3 {
    padding: 40px 0;
  }
  .main-page-3 {
    gap: 40px;
  }
  .main-box-3 .sub-heading {
    line-height: 13px;
    font-size: 1rem;
  }
  .main-box-3 .main-page-3 h2 {
    width: 80%;
    font-size: 2.4rem;
    line-height: 30px;
  }
  ul.job-list {
    flex-direction: column;
  }
  .job-item .job-name {
    font-size: 1.8rem;
  }
  .job-item span {
    font-size: 1.6rem;
    line-height: 27px;
  }
  /* End .page-3 */
  /* Start .page-4 */
  .page-4 {
    padding-bottom: 50px;
  }
  .main-page-4 {
    gap: 50px;
  }
  .villa-list {
    flex-direction: column;
  }
  .container-evaluate .evaluate {
    padding: 40px 0;
    flex-direction: column;
    gap: 40px;
  }
  .page-4 .sub-heading {
    font-size: 1rem;
  }
  .page-4 h2 {
    font-size: 2.4rem;
    width: 60%;
    line-height: 30px;
  }
  .villa-detail .price {
    font-size: 1.4rem;
    line-height: 25px;
  }
  .villa-detail .villa-name {
    font-size: 1.8rem;
    line-height: 27px;
  }
  .villa-info span {
    font-size: 1.2rem;
  }
  /* End .page-4 */
  /* start .page-5 */
  .page-5 {
    padding: 40px 0;
  }
  .main-page-5 {
    gap: 40px;
  }
  .box-5 .sub-heading {
    font-size: 1rem;
    line-height: 13px;
  }
  .main-page-5 h2 {
    font-size: 2.4rem;
    line-height: 30px;
    width: 75%;
  }
  .page-5 .gallery {
    flex-direction: column;
  }
  /* End .page-5 */
  /* Start .page-6 */
  .hero-section-page-6 .page-6 {
    padding: 50px 0;
  }
  .page-6 .main-page-6 {
    gap: 40px;
  }
  .main-page-6 h2 {
    line-height: 37px;
    font-size: 2.4rem;
  }
  ul.list-person {
    flex-direction: column;
  }

  .person-item h3 {
    font-size: 1.8rem;
    line-height: 30px;
  }
  .person-item span {
    font-size: 1.6rem;
    line-height: 28px;
  }
  .view-all button {
    font-size: 1.8rem;
    line-height: 30px;
  }
  /* End .page-6 */
  /* Start .page-7 */
  .main-page-7 {
    gap: 67px;
  }
  .box-7 .sub-heading {
    font-size: 1rem;
    line-height: 13px;
  }
  .main-page-7 h2 {
    line-height: 30px;
    font-size: 2.4rem;
  }
  ul.person-rating {
    flex-direction: column;
  }
  .rating-item span {
    font-size: 1.6rem;
    line-height: 27px;
  }
  .person-infor h3 {
    font-size: 1.9rem;
    line-height: 29px;
  }
  .person-infor span {
    font-size: 1.4rem;
    line-height: 25px;
  }
  .box-logo-p7 {
    flex-direction: column;
    gap: 50px;
  }
  /* .main-page-7 .person-rating .rating-item {
    padding: 40px 30px;
  } */
  /* End .page-7 */
  /* Start .page-8 */
  .page-8 {
    padding: 50px 0;
  }
  .box-8 .sub-heading {
    font-size: 1rem;
    line-height: 13px;
  }
  .main-page-8 h2 {
    line-height: 37px;
    font-size: 2.4rem;
  }
  ul.list-latest {
    flex-direction: column;
  }
  .latest-info h3 {
    font-size: 1.4rem;
    line-height: 22px;
  }
  .latest-info p {
    font-size: 1rem;
  }
  .bt-8 {
    font-size: 1rem;
  }
  /* End .page-8 */
  /* Start .page-9 */
  .accordion {
    width: 75%;
  }
  .accordion-label {
    gap: 15px;
  }
  .box-9 .sub-heading {
    font-size: 1rem;
    line-height: 13px;
  }
  .main-page-9 h2 {
    line-height: 37px;
    font-size: 2.4rem;
  }
  .list-question .accordion-label {
    font-size: 1.2rem;
    line-height: 18px;
  }
  .list-question .accordion-content p {
    font-size: 1rem;
    line-height: 16px;
  }
  .accordion-label::after {
    width: 16px;
    height: 16px;
  }
  /* End .page-9 */
  /* Start .page-10 */
  .main-page-10 {
    padding: 50px 0;
  }
  .main-page-10 {
    padding: 37px 26px;
  }
  .main-page-10 h2 {
    line-height: 30px;
    font-size: 2.4rem;
  }
  .main-page-10 p {
    font-size: 1rem;
    line-height: 13px;
  }
  .box-send img {
    width: 20px;
    height: 20px;
  }
  .email-box input {
    width: 20px;
    height: 20px;
    font-size: 1rem;
  }
  /* End .page-10 */
  /* Start .footer */
  .left-info {
    flex-direction: column;
    gap: 20px;
  }
  .footer-info {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;
    gap: 20px;
  }
  .footer-left {
    flex-direction: column;
    gap: 10px;
  }
  /* End .footer */
  /* Xử lý hover */
  .page-1 .box-bottom .search-icon:hover {
    background-color: #fd6038;
  }
  button.read-more:hover {
    background: #fd6038;
  }
  .main-page-4 .villa-detail .price {
    color: #fd6038;
  }
  .price:hover {
    color: #fd6038;
  }
  .page-6 .list-link .icon-pa6:hover {
    background: #f8ebc9;
    color: #fd6038;
  }
  .latest-info .bt-8 {
    color: #fd6038;
  }

  .just-info a:hover {
    color: #beccc7;
  }
  .contain-links .icon-app:hover {
    background: #333;
  }
  .circle-item:hover {
    background-color: #e0e0e0;
  }
  .circle-active {
    background-color: #e0e0e0;
  }

  /* End xửu lý hover */
}
